* text=auto
*.html text eol=lf
*.cjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.png binary
*.ico binary
